@{
	ViewBag.Title = "National Park Weather App";
}

@using Capstone.Web.Models
@model Park

@{
	DateTime today = DateTime.Now;
}

<div style="padding-bottom: 5%;">
	<h1 style="text-align: center;">@Model.ParkName - @Model.State</h1>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<img src="~/Content/img/parks/@(Model.ParkCode.ToLower()).jpg" style="width:90%; height:auto;" />
		</div>
		<div class="col-md-5">
			<blockquote class="blockquote" style="padding-bottom: 1%;">
				<p>@Model.ParkDescription</p>
			</blockquote>

			<blockquote class="blockquote" style="padding-bottom: 1%;">
				<p>@Model.InspirationalQuote</p>
				<footer class="blockquote-footer">@Model.InspirationalQuoteSource</footer>
			</blockquote>
		</div>
		<div class="col-md-3">
			<table>
				<tbody style="font-size: 18px;">
					<tr>
						<td>Acreage:</td>
						<td style="text-align:right;">@Model.Acreage.ToString("n")</td>
					</tr>
					<tr>
						<td>Elevation:</td>
						<td style="text-align:right;">@Model.ElevationInFeet ft.</td>
					</tr>
					<tr>
						<td>Climate:</td>
						<td style="text-align:right;">@Model.Climate</td>
					</tr>
					<tr>
						<td>Year Founded:</td>
						<td style="text-align:right;">@Model.YearFounded</td>
					</tr>
					<tr>
						<td>Annual Visitor Count:</td>
						<td style="text-align:right;">@Model.AnnualVisitorCount.ToString("n0")</td>
					</tr>
					<tr>
						<td>Entry Fee:</td>
						<td style="text-align:right;">@Model.EntryFee.ToString("c")</td>
					</tr>
					<tr>
						<td>Miles of Trail:</td>
						<td style="text-align:right;">@Model.MilesOfTrail.ToString("n0")</td>
					</tr>
					<tr>
						<td>Number of Campsites:</td>
						<td style="text-align:right;">@Model.NumberOfCampsites.ToString("n0")</td>
					</tr>
					<tr>
						<td>Number of Animal Species:</td>
						<td style="text-align:right;">@Model.NumberOfAnimalSpecies.ToString("n0")</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

@*currently disabled - future implementation*@
@*<div class="col-md-3 offset-2 p-4">
	<div class="btn-group">
		<button type="submit" class="btn btn-primary btn-md"> C - Celcius</button>
		<button type="submit" class="btn btn-primary btn-md"> F - Farhenheit</button>
	</div>
</div>*@

<div class="container-fluid">

	@foreach (Weather item in Model.WeatherForecasts)
	{
		if (item.FiveDayForecastValue == 1)
		{
			<div class="row">

				<div class="col-lg-3 offset-2">
					<div class="card">
						<div>
							<img class="card-img-top mx-auto d-block" src="~/Content/img/weather/@(item.Forecast.ToLower()).png" alt="@item.Forecast" style="width:213px; height:180px;" />
						</div>

						<div class="card-body">
							<h5 class="card-title" style="text-align: center;">@today.AddDays(item.FiveDayForecastValue - 1).DayOfWeek</h5>
							<p class="card-text" style="text-align: center;">@item.Forecast</p>

							@if (item.Forecast == "Snow")
							{
								<p class="card-text" style="text-align: center;">
									Looks like snow, pack your snowshoes!
								</p>
							}
							else if (item.Forecast == "Rain")
							{
								<p class="card-text" style="text-align: center;">
									Looks like rain, pack your rain gear and waterproof shoes!
								</p>
							}
							else if (item.Forecast == "Thunderstorms")
							{
								<p class="card-text" style="text-align: center;">
									Looks like thunderstorms, seek shelter and avoid exposed ridges!
								</p>
							}
							else
							{
								<p class="card-text" style="text-align: center;">
									Looks like sun, don't forget your sun screen!
								</p>
							}

							<div style="text-align:center;">
								<p class="card-text"><small class="text-muted">High: @item.HighTemp.ToString()</small></p>
								<p class="card-text"><small class="text-muted">Low: @item.LowTemp.ToString()</small></p>

								@if (item.HighTemp > 75)
								{
									<p class="card-text" style="text-align: center;">
										Looks like it will be warm today, take an extra gallon of water!
									</p>
								}
								else if (item.LowTemp < 20)
								{
									<p class="card-text" style="text-align: center;">
										Looks like it will be cold today, take care of the danger of exposure to frigid temperatures!
									</p>
								}
							</div>
						</div>
					</div>
				</div>

			</div>
		}
		else
		{
			<div class="card-group mt-4">
				<div class="card">
					<div>
						<img class="card-img-top mx-auto d-block" src="~/Content/img/weather/@(item.Forecast.ToLower()).png" alt="@item.Forecast" style="width:213px; height:180px;" />
					</div>

					<div class="card-body">
						<h5 class="card-title" style="text-align: center;">@today.AddDays(item.FiveDayForecastValue - 1).DayOfWeek</h5>
						<p class="card-text" style="text-align: center;">@item.Forecast</p>

						@if (item.Forecast == "Snow")
						{
							<p class="card-text" style="text-align: center;">
								Looks like snow, pack your snowshoes!
							</p>
						}
						else if (item.Forecast == "Rain")
						{
							<p class="card-text" style="text-align: center;">
								Looks like rain, pack your rain gear and waterproof shoes!
							</p>
						}
						else if (item.Forecast == "Thunderstorms")
						{
							<p class="card-text" style="text-align: center;">
								Looks like thunderstorms, seek shelter and avoid exposed ridges!
							</p>
						}
						else
						{
							<p class="card-text" style="text-align: center;">
								Looks like sun, don't forget your sun screen!
							</p>
						}

						<div style="text-align:center;">
							<p class="card-text"><small class="text-muted">High: @item.HighTemp.ToString()</small></p>
							<p class="card-text"><small class="text-muted">Low: @item.LowTemp.ToString()</small></p>

							@if (item.HighTemp > 75)
							{
								<p class="card-text" style="text-align: center;">
									Looks like it will be warm today, take an extra gallon of water!
								</p>
							}
							else if (item.LowTemp < 20)
							{
								<p class="card-text" style="text-align: center;">
									Looks like it will be cold today, take care of the danger of exposure to frigid temperatures!
								</p>
							}
						</div>
					</div>
				</div>
			</div>
		}
	}
</div>

